{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/ajax_setup.js' %}"></script>
    <script src="{% static 'js/layer-v3.1.1/layer/layer.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</head>
<body>
{% csrf_token %}
{#    解决冲突 Django Vue {{ }} 有数据 不显示#}
{% verbatim %}
<div id="app">
    <!--搜索条件-->
    <table>
        <tr>
            <td>账户</td>
            <td><input type="text" v-model="user.user_no"/></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" v-model="user.name"/></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="number" v-model="user.age"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="text" v-model="user.password"/></td>
        </tr>
        <tr>
            <td><input type="button" value="提交" v-on:click="edit"/></td>
            <td><input type="button" value="取消" v-on:click="gotoIndex"/></td>
        </tr>
    </table>
</div>
{% endverbatim %}
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            loading_index: '',
            user: {user_no: '', name: '', age: 18, password: ''},
        },
        created: function () {
            var id = common.get_id(id);//从url获取修改主键
            this.getItem(id);
        },
        methods: {
            getItem(id) {//获取对象
                vm = this;
                vm.loading_index = layer.load(0, {shade: 0.5});
                $.ajax({
                    url: "/getItem/",
                    type: "post",
                    data: {id: id},
                    success: function (res) {
                        if (res.code == "200") {
                            vm.user = res.data;
                        } else {
                            layer.alert(res.err_msg, {icon: 5});
                        }

                    }, complete: function () {
                        layer.close(vm.loading_index);
                    }
                });
            },
            edit() {//修改对象
                if (!this.check()) {
                    return;
                }
                vm = this;
                vm.loading_index = layer.load(0, {shade: 0.5});
                $.ajax({
                    url: "/edit/" + vm.user.id,
                    type: "post",
                    data: {user_str: JSON.stringify(vm.user)},
                    success: function (data) {
                        if (data.code == "200") {
                            layer.alert('修改成功', {icon: 6}, function (index) {
                                layer.close(index);
                                vm.gotoIndex();
                            });
                        } else {
                            layer.alert(data.err_msg, {icon: 5});
                        }

                    }, complete: function () {
                        layer.close(vm.loading_index);
                    }
                });
            }, check: function () {//校验
                if (this.user.user_no == '') {
                    layer.alert('请输入账户', {icon: 5});
                    return false;
                }
                if (this.user.name == '') {
                    layer.alert('请输入姓名', {icon: 5});
                    return false;
                }
                if (this.user.password == '') {
                    layer.alert('请输入密码', {icon: 5});
                    return false;
                }
                return true;

            }, gotoIndex: function () {
                window.location.href = '/index';
            }
        }
    });
</script>
</html>