{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/ajax_setup.js' %}"></script>
</head>
{#    解决冲突 Django Vue {{ }} 有数据 不显示#}
{% verbatim %}
<div id="app">
    <!--搜索条件-->
    <table>
        <tr>
            <td>账户</td>
            <td><input type="text" v-model="search_model.user_no"/></td>
            <td>姓名</td>
            <td><input type="text" v-model="search_model.name"/></td>
            <td><input type="button" value="搜索" v-on:click="getList"></td>
        </tr>
    </table>
    <!--列表-->
    <table>
        <tr>
            <th>账户</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in users">
            <td>{{ item.user_no }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.password }}</td>
        </tr>
    </table>
</div>
{% endverbatim %}
</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            search_model: {user_no: '', name: ''},//搜索条件
            users: [],//查询结果
        },
        created: function () {
            this.getList();
        },
        methods: {
            getList() {
                vm = this;
                $.ajax({
                    url: "/getList/",
                    type: "post",
                    data: {search_str: JSON.stringify(vm.search_model)},
                    success: function (res) {
                        if (res.code == "200") {
                            vm.users = res.data;
                        } else {
                            alert(res.err_msg)
                        }
                    },
                });
            }
        }
    });
</script>
</html>